---
import Base from "../layouts/Base.astro";
import CardPlan from "../components/CardPlan.astro";
import { planes } from "../data/planes";
---
<Base title="Planes">

    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Elige el Plan que Mejor se Adapte a Tus Necesidades</h2>
                <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Mejora la eficiencia y calidad de la atención a tus pacientes con nuestras soluciones accesibles y efectivas.</p>
            </div>
            <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
                
                {planes.map( plan =>(

                    <CardPlan nombre={plan.nombre} descripcion={plan.descripcion} precio={plan.precio} caracteristicas={plan.caracteristicas}/>
                    
                ))}

                
                
            </div>
        </div>
      </section>

</Base>