---
import Base from "../../layouts/Base.astro"
import CardModulo from "../../components/CardModulo.astro"
import { modulos } from "../../data/modulos"
---

<Base title="Modulos">
	
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="max-w-screen-md mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Módulos Diseñados para Optimizar Tu Clínica</h2>
                <p class="text-gray-500 sm:text-xl dark:text-gray-400">Ofrecemos módulos innovadores que transforman la manera en que gestionas tu clínica. Descubre cómo nuestros módulos pueden facilitar tu trabajo diario y ayudarte a proporcionar un cuidado excepcional a tus pacientes.</p>
            </div>
            <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-2 md:gap-12 md:space-y-0">         
            
                {modulos.map( ({nombre, descripcion, url, img}) => (
                
                <CardModulo 
                    nombre={nombre} 
                    descripcion={descripcion} 
                    url={url} 
                 />

                ))}
                    
            </div>
        </div>
      </section>
    
</Base>